.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% /3) - 0.75rem);
  /* --minimum: 26ch; */
  /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */
  gap: 1rem;
  overflow: hidden;
}

.carouselHeader {
  color: white;
  margin-block: 3rem;
}

.carouselHeader img {
  filter: invert(1);
  cursor: pointer;
}

.scrollBehaviorSmooth {
  scroll-behavior: smooth;
}

.scrollBehaviorAuto {
  scroll-behavior: auto;
}