.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% /3) );
  overflow: auto;
  z-index: 3;
  color: black;
}

@media (max-width: 900px) {
  .carousel {
    grid-auto-columns: calc((100% /2));
  }
}

@media (max-width: 500px) {
  .carousel {
    grid-auto-columns: 100%;
  }
}

.carousel > li {
  list-style: none;
  min-height: 100%/3;
}

.carouselHeader {
  color: white;
  margin-block: 3rem;
}

.carouselHeader img {
  filter: invert(1);
  cursor: pointer;
}

.scrollBehaviorSmooth {
  scroll-behavior: smooth;
}

.scrollBehaviorAuto {
  scroll-behavior: auto;
}